body, html{
	padding: 0;
	margin: 0;
	min-height: 100%;
}
@font-face {
    font-family: 'ComicSansMS';
    src: url('../fonts/ComicSansMS.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BerlinSansFB-Reg';
    src: url('../fonts/BerlinSansFB-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.second_font{
	font-family: BerlinSansFB-Reg!important;
}
#main_container{
	max-width: 425px;
	width: 100%;
	height: 100%;
	min-height:  100%;
	background-color: #252a34;
	margin: 0 auto;
}
#logo{
	margin: 0 auto;
	display:  block;
	padding: 20px 0 0;
}
.heading{
	font-family: ComicSansMS;
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: center;
	color: #08d9d6;
}
.sva_btn{
	background-color: #eaeaea;
  	border: solid 3px #08d9d6;
  	font-family: BerlinSansFB-Reg;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: center;
	color: #ff2e63;
	height: 44px;
	padding: 0 17px;
}
#login_form{
	width: 280px;
	margin: 0 auto;
}
.form_item{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 20px 0;
}
.form_item .form_label{
	font-family: ComicSansMS;
	font-size:20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: center;
	color: #eaeaea;
}
.form_item .form_input{
	width: 190px;
	height: 36px;
	background-color: #eaeaea;
  	border: solid 3px #08d9d6;
  	font-family: ComicSansMS;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: center;
	color: #737777;
	margin: 0 0 0 18px;
	padding: 0 10px 0;
	box-sizing: border-box;
	outline: none;
}
#choose_block{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 280px;
	margin: 0 auto;
}
#choose_block .sva_btn{
	width: 120px;
	padding: 0;
}


/*volunteers*/
#v_head, #vp_head{
	min-height: 66px;
	background-color: #383f4e99;
	display: flex;
	align-items: center;
	padding: 0 15px;
}
#logo.v_logo{
	height: 52px;
	width: auto;
	padding: 0;
	margin: 0;
}
#v_head > span,
#vp_head > span{
	font-family: BerlinSansFB-Reg;
	font-size: 26px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: center;
	color: #ff2e63;
}
#v_head > div{
	background-color: #eaeaea;
	height: 28px;
	width: 130px;
	text-align: center;
	display:  inline-flex;
	align-items:  center;
	justify-content:  center;
	margin: 0 10px;
}
#v_head > div span{
	font-family: BerlinSansFB-Reg;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	color: #252a34;
}
#items{
	display: flex;
	padding: 20px 12px 0;
	flex-flow:  wrap;
}
#items .item_wrapper{
	width: 50%;
	display: inline-block;
	text-align: center;
	margin: 10px 0;
}
#items .item_v{
	width: 118px;
	height: 136px;
	background-color: #383f4e99;
	border-radius: 8px;
	margin: 0 auto;
	padding: 10px 0 0;
	box-sizing: border-box;
}
#items .item_v img{
	width: 98px;
	height: 98px;
	border-radius: 50%;
	margin: 0 auto 5px;
	display: block;
}
#items .item_v span{
	font-family: ComicSansMS;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: center;
	color: #08d9d6;
	white-space:  nowrap;
	text-overflow: ellipsis;
	max-width: 110px;
	margin: 0 auto;
	overflow:  hidden;
	display:  block;
}
/* volunteer passport*/
#vp_head{
	background-color: #08d9d6;
}
#vp_head > span{
	font-family: BerlinSansFB-Reg;
	font-size: 20px;
	color: #252a34;
	width: 100%;
}
.user_bg{
	width: 100%;
	height: 124px;
	background: url('../resources/cover1.jpg');
	background-repeat:  no-repeat;
	background-size:  cover;
	background-position:  center;
	position:  relative;
    margin-bottom: 80px;
}
.user_img{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	bottom:  0;
	transform: translate(-50%, 50%);
}
.heading.vp_heading{
	color: #eaeaea;
}
.about_item{
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	box-sizing: border-box;
	width: 100%;
}
.about_item > div{
	width: 47%;
}
.event_name{
	font-family: BerlinSansFB-Reg;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: right;
	color: #08d9d6;
	width: 100%;
	display: block;
}
.c_diploma {
    width: 100px;
    height: 30px;
    background-color: #ff2e63;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    font-family: BerlinSansFB-Reg;
    color: #eaeaea;
    margin: 16px 0 0 auto;
}
.evt_description{
	font-family: BerlinSansFB-Reg;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: left;
	color: #eaeaea;
}
.transparent_block{
	width: calc(100% - 30px);
	margin: 0 15px 20px;
	padding: 1px 0 1px;
	box-sizing: border-box;
	background-color: #eaeaea29;
}
.descr_item{
	width: 100%;
	display: flex;
	margin: 10px 0;
}
.descr_item .type_of{
	width: 35%;
	padding: 0 22px 0 0;
	box-sizing:  border-box;
}
.descr_item .items_of{
	width: 55%;
}
.descr_item.blue_one .type_of,
.descr_item.blue_one .items_of{
	width: 50%;
}
.descr_item .type_of span{
	font-family: BerlinSansFB-Reg;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: right;
	color: #ff2e63;
	width: 100%;
	display: block;
}
.descr_item.blue_one .type_of span{
  	color: #08d9d6;
	font-size: 22px;
}
.descr_item .items_of p{
	font-family: BerlinSansFB-Reg;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: left;
	color: #08d9d6;
	padding: 0;
	margin: 0;
}
.descr_item.blue_one .items_of p{
	color: #eaeaea;
	font-size: 22px;
}
.descr_item .items_of span{
	font-family: BerlinSansFB-Reg;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: left;
	color: #eaeaea;
	display: block;
	margin: 5px 0;
}
.data_block {
    text-align: center;
}
.sva_btn.pink{
	color: #ffffff;
	background-color: #ff2e63;
	border: none;
	display: block;
	margin: 0 auto 20px;
}
.sva_btn.red{
	color: #ffffff;
	background-color: #6b2d44;
	border: none;
	height: 48px;
	display:  inline-block;
	margin: 0 5px 20px;
}
/*sign up*/
.platforms{
	display: flex;
	justify-content: space-between;
}
.sign_form, .platforms{
	width: calc(100% - 30px);
	margin: 0 auto
}
.white_text{
	color: #ffffff;
	font-family: BerlinSansFB-Reg;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: center;
	color: #eaeaea;
}
input.full_size{
	width: 100%;
	height: 32px;
	background-color: #eaeaea;
	border: solid 1px #888888;
	margin: 10px 0 8px;
	outline: none;
	color: #6e6b6b;
	font-size: 20px;
	font-family: BerlinSansFB-Reg;
	padding: 0 10px;
	box-sizing: border-box;
}
input.c_diploma{
	margin: 10px auto 50px;
	border: 0;
}
.sign_form input[type=checkbox]{
	width: 40px;
	height:40px;
    vertical-align: middle;
}
/*ngo page*/
#main_container.ngo_container{
	padding: 0 0 40px;
}
.ngo_container #vp_head > span{
	text-align: left;
	padding: 0 10px;
    font-size: 26px;
}
.ngo_container .user_bg{
	height: 170px;
    margin-bottom: 100px;
}
.ngo_container .user_img{
	height: 170px;
	width: 170px;
}
.ngo_container .descr_item.blue_one .type_of span{
	font-size: 20px;
}
.ngo_container .descr_item.blue_one .items_of p,
.ngo_container .descr_item .items_of span{
	font-size: 20px;
	font-family: Meriad-Pro, sans-serif;
}
.ngo_container .descr_item.blue_one .type_of{
	padding: 0;
}
.ngo_container .descr_item.blue_one .items_of{
	padding: 0 0 0 10px;
}
/*edit volunteer*/
#main_container.edit_v{
	padding: 0 0 30px;
}
#main_container.edit_v #v_head > span{
	color: #eaeaea;
}
.border_btn{
 	background-color: #262b34;
 	border: solid 4px #08d9d6;
 	font-size: 18px;
 	margin: 0 20px;
 	padding: 6px;
 	border-radius: 3px;
 	font-family: BerlinSansFB-Reg;
 	font-weight: normal;
 	font-style: normal;
 	font-stretch: normal;
 	line-height: normal;
 	letter-spacing: 1px;
 	text-align: center;
 	color: #08d9d6;
 	margin: 10px auto;
 	display:  block;
}
.edit_v .user_bg{
	background-color: #88888877;
    border: dotted 2px #ffffff;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    padding: 20px 0 0;
}
.edit_v .user_bg span{
	font-family: BerlinSansFB-Reg;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: center;
	color: #08d9d6;
}

.edit_v .user_bg .img_block{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	bottom:0;
	transform: translate(-50%, 50%);
	text-align: center;
    border: dotted 2px #ffffff;
	background-color: #08d9d677;
	display: flex;
	justify-content: center;
	align-items: center;
}
.edit_v .user_bg .img_block img{
	display: none;
	left: 0;
	top: 0;
	transform: translate(0);
}
.edit_v .user_bg .img_block span{
	color: #eaeaea;
}
.edit_v .sign_form > div{
	display: flex;
	justify-content: flex-end;
    align-items: center
}
.edit_v .sign_form > div input,
.edit_v .sign_form > div textarea{
	max-width: 240px;
	margin-left: 10px;
}
.edit_v .sign_form > div textarea{
    padding: 0 16px 0;
}
.edit_v .vp_heading{
	font-size: 18px;
}
input.sva_btn{
	display: inline-block!important;
	margin: 10px auto!important;
	font-family: BerlinSansFB-Reg;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: center;
	color: #eaeaea;
}
/*events*/

.event_item{
	width: calc(100% - 30px);
	height: 190px;
	margin: 15px auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.name_event{
	background-color: #ffffff60;
	width: 170px;
	height: 100px;
	display: flex;
	align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.name_event:nth-of-type(even){
	left: auto;
	right: 0;
	height: 70px;
	width: 160px;
	background-color: #ffffffbf;
}
.name_event span{
	font-family: BerlinSansFB-Reg;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #ff2e63;
	max-width: 150px;
	display: block;
	padding: 0 0 0 10px;
}
.name_event:nth-of-type(even) span{
	font-size: 18px;
	text-align: right;
	color: #252a34;
	max-width: unset;
	padding: 0 10px 0 0;
    margin: 0 0 0 auto;
}
.event_item button{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
	margin: 0!important;
	font-size: 16px;
	height: 36px;
}
.event_item:nth-of-type(even) .name_event{
	left: auto;
	right: 0;
}
.event_item:nth-of-type(even) .name_event span{
	text-align: right;
	padding: 0 10px 0 0;
    margin: 0 0 0 auto;
}
.event_item:nth-of-type(even) .name_event:last-of-type{
	left: 0;
	right: auto;
}
.event_item:nth-of-type(even) .name_event:last-of-type span{
	text-align: left;
    margin: 0 auto 0 0;
    padding: 0 0 0 10px;
}
/*event*/
.sign_form.event_f .white_text{
	text-align: right;
}







